
h1,h5,p{
    font-family: 'Times New Roman', Times, serif;
}


.name{
     text-align: center;
}

#form{
    width: 700px;
    margin: auto;
}
.name{
    margin-top: 20px;
}
.product_head{
    /* margin-top: 200px;
    margin-left: 759px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.btn{
    margin-top: 10px;
}
.hr{
    height:2px;
    border-width:0;
    color:gray; 
    text-align: center;
}